#CH-basic {
    width: 0;
    height: 0;
}

#coupon {
    position: fixed;
    width: 360px;
    max-height: 720px;
    min-height: 287px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    background-color: #fff;
    z-index: 2147483647;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#coupon.close {
    opacity: 0;
    visibility: hidden;
    display: flex !important;
    display: -webkit-flex !important;
}

#coupon.found {
    width: 290px;
    height: 435px;
}

#coupon iframe {
    width: 100%;
    height: 100%;
}

#coupon span[aria-hidden="true"] {
    width: 100%;
}

#coupon-if {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    display: block;
}



